<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <nav>
        <div>
            <h3>Your Account</h3>
        </div>
        <div>
            <button><a href="{% url 'logout' %}">Log Out</a></button>
            <button><a href="{% url 'books' %}">Home</a></button>
        </div>
    </nav>
    <div>
        <div>
            <h3>
                Your Name:
            </h3>
        </div>
        <div>
            <h1>{{ object.username|title }}</h1>
        </div>
        <div>
            <h3>Your Email:</h3>
        </div>
        <div>
            <h2>{{ object.email }}</h2>
        </div>
        <hr>
        {% if bookData == None %}
            <div>
                <h2>No books Issued!</h2>
            </div>
        {% else %}
            <div>
                <h2>Your Issued Books:</h2>
            </div>
            <ul>
                {% for items in bookData %}
                <li><a href="{{ items.get_absolute_url }}">{{ items }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>