<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{object.title}}</title>
</head>
<body>
    <nav>
        <h3>{{ object.title }}</h3>
        <div>
            {% if data %}
                <div>
                    <a href="{% url 'account' %}">Account</a> &nbsp; &nbsp;
                    <a href="{% url 'logout' %}">Sign Out</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}">Sign In</a> &nbsp; &nbsp;
                    <a href="{% url 'register' %}">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </nav>
    <div>

        <h3>Author:</h3>
        <h2>{{ object.author }}</h2>
        <div>
            {% if return %}
            <form action="{% url 'return' object.slug %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Return This Book">
            </form>
            {% else %}
            <form action="{{ object.get_absolute_url }}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Issue This Book">
            </form>
            {% endif %}
        </div>
    </div>
    {{ status }}
</body>
</html>